# **Pandas**
Pandas is an open-source data manipulation and analysis library for Python. It provides data structures and functions needed to work with structured data seamlessly.


**The two primary data structures in Pandas are**:

**Series**: A one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It is similar to a column in a table or a single column in an Excel spreadsheet.

**DataFrame**: A two-dimensional labeled data structure with columns of potentially different types. It's similar to a table in a relational database or an Excel spreadsheet. Each column in a DataFrame is a Series.

**Pandas is commonly used for tasks such as**:
- **Data Cleaning**: Handling missing values, filtering data, and preparing it for analysis.
- **Data Exploration**: Summarizing and visualizing data to understand its structure and patterns.
- **Data Transformation**: Aggregating, merging, reshaping, and applying functions to data.
- **Data Analysis**: Performing statistical analysis and generating insights.

### Pandas Installation
In order to use Pandas, we first need to install it.

In [1]:
%pip install pandas
# Import Pandas
import pandas as pd

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.0.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     -------------------- ------------------- 30.7/60.9 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 538.9 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\galin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\galin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 5.5 MB/s eta 0:00:03
    --------------------------------------- 0.2/11.5 MB 2.5 MB/s eta 0:00:05
   - -------------------------------------- 0.4/11.5 MB 2.9 MB/s eta 0:00:04
   - -------------------------------------- 0.5/11.5 MB 2.6 MB/s eta 0:00:05
   -- ------------------------------------- 0.7/11.5 MB 2.9 MB/s eta 0:00:04
   ---- ----------------------------------- 1.2/11.5 MB 4.2 MB/s eta 0:00:03
   ------ --------------------------------- 2.0/11.5 MB 5.5 MB/s eta 0:00:02
   ---------- ----------------------------- 3.1/11.5 MB 7.3 MB/s eta 0:00:02
   ------------- -------------------------- 3.9/11.5 MB 8.2 MB/s eta 0:00:01
   --------------- ------------------------ 4.5/11.5 MB 8.5 MB/s eta 0:00:01
   ------------------ --------------------- 5.3/11.5 MB 9.1 MB/s eta 0:00:01
   ----------------------- ---------------- 6.6/11.5 MB 10.3 MB/s eta 0:00:01
   ------------------------ --------------- 7.2/11.5 MB 10.2 MB/s eta 0:00:01
   ------------------------ --------------- 7.2/11.5 MB 10.2 MB/s eta 0:00:01
   --------------------------- ------------ 7.8/11.5 MB 7.8 MB/s eta 0:00:01
   --------------------------- ------------ 8.0/11.5 MB 7.3 MB/s eta 0:00:01
   ---------------------------- ----------- 8.2/11.5 MB 7.3 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 6.8 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 6.7 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.5 MB 6.6 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.5 MB 6.4 MB/s eta 0:00:01
   ------------------------------------ --- 10.4/11.5 MB 6.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 6.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.5 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 6.5 MB/s eta 0:00:00
Downloading numpy-2.0.1-cp312-cp312-win_amd64.whl (16.3 MB)
   ---------------------------------------- 0.0/16.3 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.3 MB 16.7 MB/s eta 0:00:01
   --- ------------------------------------ 1.4/16.3 MB 18.2 MB/s eta 0:00:01
   ------- -------------------------------- 2.9/16.3 MB 15.6 MB/s eta 0:00:01
   --------- ------------------------------ 3.9/16.3 MB 17.7 MB/s eta 0:00:01
   ---------- ----------------------------- 4.4/16.3 MB 15.5 MB/s eta 0:00:01
   ------------ --------------------------- 5.1/16.3 MB 15.4 MB/s eta 0:00:01
   -------------- ------------------------- 5.7/16.3 MB 15.3 MB/s eta 0:00:01
   --------------- ------------------------ 6.5/16.3 MB 15.3 MB/s eta 0:00:01
   ----------------- ---------------------- 7.2/16.3 MB 15.4 MB/s eta 0:00:01
   ------------------- -------------------- 7.8/16.3 MB 15.2 MB/s eta 0:00:01
   -------------------- ------------------- 8.5/16.3 MB 15.1 MB/s eta 0:00:01
   ----------------------- ---------------- 9.4/16.3 MB 15.4 MB/s eta 0:00:01
   ------------------------ --------------- 9.9/16.3 MB 15.5 MB/s eta 0:00:01
   -------------------------- ------------- 10.7/16.3 MB 14.9 MB/s eta 0:00:01
   --------------------------- ------------ 11.4/16.3 MB 15.2 MB/s eta 0:00:01
   ----------------------------- ---------- 12.1/16.3 MB 16.0 MB/s eta 0:00:01
   ------------------------------- -------- 12.9/16.3 MB 15.2 MB/s eta 0:00:01
   --------------------------------- ------ 13.6/16.3 MB 14.9 MB/s eta 0:00:01
   ----------------------------------- ---- 14.3/16.3 MB 15.2 MB/s eta 0:00:01
   ------------------------------------ --- 15.0/16.3 MB 14.9 MB/s eta 0:00:01
   -------------------------------------- - 15.8/16.3 MB 15.2 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.3 MB 15.2 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.3 MB 15.2 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.3 MB 15.2 MB/s eta 0:00:01
   ---------------------------------------- 16.3/16.3 MB 12.3 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 10.5 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# DataFrames
A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types, similar to a spreadsheet or SQL table. 
It provides a powerful and flexible way to manipulate and analyze structured data in Python, offering functionalities for data analysis.

**Creating an Empty DataFrame**

In [8]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

**Creating a DataFrame using a list of lists**

In [9]:
data = [['Alice', 23], ['Mike', 34], ['John', 34]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
df

    Name  Age
0  Alice   23
1   Mike   34
2   John   34

**Creating a DataFrame using a dictionary of lists**

In [10]:
data = {
    'Name': ['Alice', 'Mike', 'John'],
    'Age': [23, 34, 28]
}
df = pd.DataFrame(data)
df

    Name  Age
0  Alice   23
1   Mike   34
2   John   28

**Creating a DataFrame using a list of dictionaries**

In [11]:
data = [ {'name': 'Alice', 'age': 23}, {'name': 'Mike', 'age': 34}, {'name': 'John', 'age': 28} ]
df = pd.DataFrame(data)
df

    name  age
0  Alice   23
1   Mike   34
2   John   28

# Series
A pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It's similar to a one-column table or an array with associated labels, providing powerful indexing and manipulation capabilities in Python.

**Creating Series**

In [12]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

### **Pandas Data Types**


Numeric:
- Integer (int64): Represents whole numbers (e.g., 10, -5). This is the default integer type in pandas.
- Float (float64): Represents numbers with decimals (e.g., 3.14, -12.5).
- Boolean (bool): Represents logical True or False values.
- Object: This is a versatile but less efficient type that can store various data types like strings, lists, or custom objects. Pandas uses this type when it cannot infer a more specific data type.

In [13]:
# Integer (int64)
int_series = pd.Series([1, 5, -1, -5])
int_series

# Float (float64)
float_series = pd.Series([1.02, 3.14, 1.00, -1.02, -3.14, -1.00])
float_series

# Boolean (bool)
boolean_series = pd.Series([True, False])
boolean_series

# Object (object)
object_series = pd.Series([True, 30.2, 'Jane', 30])
object_series

0    True
1    30.2
2    Jane
3      30
dtype: object

Specialized Data Types:
- Datetime (datetime64[ns]): Represents dates and times with nanosecond precision. Useful for time-series data analysis.
- Timedelta (timedelta64[ns]): Represents durations between timestamps.
- Categorical: Represents categorical data with predefined categories. Efficient for storing limited sets of categories.
- Sparse: Represents sparse data with many missing values. Stores data efficiently by only keeping non-zero values.

In [14]:
#Datetime (datetime64)
dt = pd.to_datetime('2024-07-29')
dt

# Datetime Series
datetime_series = pd.Series([pd.to_datetime('2024-07-26'), pd.to_datetime('2024-08-27'), pd.to_datetime('2024-09-28')])
datetime_series

0   2024-07-26
1   2024-08-27
2   2024-09-28
dtype: datetime64[ns]

**Sales Data Analysis**


You have a dataset of sales transactions that includes the product name, quantity sold, and sale price.
You want to analyze the data to find the total revenue per product.

In [19]:
data = {
    'Product Name':['Laptop', 'Smartphone', 'Tablet', 'Laptop', 'Smartphone', 'Laptop'],
    'Quantity Sold':[3, 2, 5, 4, 1, 2],
    'Sale Price':[1000, 800, 600, 1100, 850, 1050]
}

# Step 1: Create a DataFrame
sales_df = pd.DataFrame(data)
sales_df

# Step 2: Create a new column for Total Revenue for each row
sales_df['Total Revenue'] = sales_df['Quantity Sold'] * sales_df['Sale Price']
sales_df

# Step 3: Group column values (groupby)
total_revenue = sales_df.groupby('Product Name')['Total Revenue'].sum()
total_revenue

# Step 4: Create a new dataframe to show the data in tabular format
results_df = pd.DataFrame()


# Step 5: Show the data in tabular format
results_df['Total Revenue'] = sales_df.groupby('Product Name')['Total Revenue'].sum()
results_df

              Total Revenue
Product Name
Laptop                 9500
Smartphone             2450
Tablet                 3000

**Recalling our Sales DataFrame**

In [20]:
sales_df

  Product Name  Quantity Sold  Sale Price  Total Revenue
0       Laptop              3        1000           3000
1   Smartphone              2         800           1600
2       Tablet              5         600           3000
3       Laptop              4        1100           4400
4   Smartphone              1         850            850
5       Laptop              2        1050           2100

### **Data Selection**

pandas provides numerous methods for selecting and indexing data in Series and DataFrames, including label-based indexing with .loc, integer-position based indexing with .iloc, and conditional selection.

#### Data Selection in Series

**Check the First Two Rows of Product Names**

In [23]:
sales_df['Product Name'][0:4]

0        Laptop
1    Smartphone
2        Tablet
3        Laptop
Name: Product Name, dtype: object

**Check the First Two Rows of Quantity Sold**

In [24]:
sales_df['Quantity Sold'] [0:2]

0    3
1    2
Name: Quantity Sold, dtype: int64

**Sum method for totaling**

In [25]:
sales_df['Quantity Sold'][0:2].sum()

np.int64(5)

**Index Location (.iloc)**

In [29]:
sales_df.iloc[0:3]

  Product Name  Quantity Sold  Sale Price  Total Revenue
0       Laptop              3        1000           3000
1   Smartphone              2         800           1600
2       Tablet              5         600           3000

In [30]:
sales_df.loc[0:3, ['Product Name', 'Sale Price']]

  Product Name  Sale Price
0       Laptop        1000
1   Smartphone         800
2       Tablet         600
3       Laptop        1100

# Conditional Filtering

**Checking for Total Revenues greater than or equal to 40**

In [31]:
sales_df[sales_df['Total Revenue'] >= 2000]

  Product Name  Quantity Sold  Sale Price  Total Revenue
0       Laptop              3        1000           3000
2       Tablet              5         600           3000
3       Laptop              4        1100           4400
5       Laptop              2        1050           2100

**Checking for Product Names equal to `'Laptop'`**

In [32]:
sales_df[sales_df['Product Name'] == "Laptop"]

  Product Name  Quantity Sold  Sale Price  Total Revenue
0       Laptop              3        1000           3000
3       Laptop              4        1100           4400
5       Laptop              2        1050           2100

**Filtering Customer Reviews**

A DataFrame contains customer reviews for different products, including a numeric rating. You need to filter reviews to find all reviews of a specific product with a rating of 4 or higher.

In [7]:
reviews_data = {
    'ProductID': [
        'Coffee Maker', 'Blender', 'Vacuum Cleaner', 'Air Fryer', 'Microwave',
        'Dishwasher', 'Toaster', 'Refrigerator', 'Oven', 'Washing Machine',
        'Slow Cooker', 'Mixer', 'Electric Kettle', 'Juicer', 'Rice Cooker',
        'Food Processor', 'Grill', 'Bread Maker', 'Espresso Machine', 'Dehumidifier'
    ],
    'Rating': [5, 3, 2, 1, 4, 3, 2, 4, 5, 1, 4, 5, 4, 3, 5, 4, 5, 4, 5, 2]
}

reviews_df = pd.DataFrame(reviews_data)
print(reviews_df)

           ProductID  Rating
0       Coffee Maker       5
1            Blender       3
2     Vacuum Cleaner       2
3          Air Fryer       1
4          Microwave       4
5         Dishwasher       3
6            Toaster       2
7       Refrigerator       4
8               Oven       5
9    Washing Machine       1
10       Slow Cooker       4
11             Mixer       5
12   Electric Kettle       4
13            Juicer       3
14       Rice Cooker       5
15    Food Processor       4
16             Grill       5
17       Bread Maker       4
18  Espresso Machine       5
19      Dehumidifier       2

**Finnding Reviews with Rating of 4 and above**

In [33]:
reviews_df[reviews_df['Rating'] >= 4]

           ProductID  Rating
0       Coffee Maker       5
4          Microwave       4
7       Refrigerator       4
8               Oven       5
10       Slow Cooker       4
11             Mixer       5
12   Electric Kettle       4
14       Rice Cooker       5
15    Food Processor       4
16             Grill       5
17       Bread Maker       4
18  Espresso Machine       5

## Pandas Operators

**Previewing Data with `head()`**

This function is used to view the first few rows of a DataFrame. By default, it returns the first five rows, but you can specify the number of rows you want to see by passing an argument. This function is useful for quickly inspecting the data and understanding its structure, especially when working with large datasets.

In [34]:
reviews_df.head(3)

        ProductID  Rating
0    Coffee Maker       5
1         Blender       3
2  Vacuum Cleaner       2

**Inspecting the End with `tail()`**:

The tail() function works similarly to head(), but it displays the last few rows of the DataFrame. Like head(), it shows five rows by default, but you can specify a different number. This is helpful when you want to inspect the end of your dataset, such as the most recent entries in a time series.

In [35]:
reviews_df.tail(2)

           ProductID  Rating
18  Espresso Machine       5
19      Dehumidifier       2

**Summarizing Your Data with `describe()`**:

The describe() function generates summary statistics of numeric columns in the DataFrame. It provides key metrics such as count, mean, standard deviation, minimum and maximum values, and the quartiles (25th, 50th, and 75th percentiles). This function is invaluable for quickly getting an overview of the distribution and central tendencies of your data.

In [42]:
reviews_df.describe()

          Rating
count  20.000000
mean    3.550000
std     1.356272
min     1.000000
25%     2.750000
50%     4.000000
75%     5.000000
max     5.000000

**Understanding Data Structure with info():**

The info() function gives a concise summary of the DataFrame, including the number of non-null entries in each column, the data type of each column, and the memory usage of the DataFrame. This is particularly useful for understanding the structure of your data, identifying missing values, and optimizing memory usage.

In [37]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ProductID  20 non-null     object
 1   Rating     20 non-null     int64
dtypes: int64(1), object(1)
memory usage: 452.0+ bytes

## Data Analysis:
**Calculating Averages with mean():**

The mean() function calculates the average value of a numeric Series or the mean of each numeric column in a DataFrame. It is often used to determine the central tendency of the data, providing insight into the typical value in a dataset.

In [38]:
print(reviews_df['Rating'].mean())

3.55

**Finding the Middle Value with median()**

The median() function computes the median value, which is the middle value in a sorted list of numbers. Unlike the mean, the median is less affected by outliers and skewed data, making it a robust measure of central tendency.

In [39]:
print(reviews_df['Rating'].median())

4.0

**Measuring Data Spread with  Standard Deviation**

The std() function calculates the standard deviation, a measure of the dispersion or spread of values around the mean. A higher standard deviation indicates that the data points are more spread out from the mean, while a lower standard deviation suggests that they are closer to the mean.

In [40]:
print(reviews_df['Rating'].std())

1.3562719801759993

**Assessing Variability with var()**

The var() function computes the variance, which is the square of the standard deviation. Variance measures the extent to which the data points deviate from the mean. Like the standard deviation, a higher variance indicates more variability in the data.

In [41]:
print(reviews_df['Rating'].var())

1.8394736842105261