**Load the Data**
First, load the data into a Pandas DataFrame.

In [7]:
import pandas as pd
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('book_sales.db')


# Load data into a DataFrame
query = 'SELECT * FROM book_sales'
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

In [8]:
# recall dataframe df
df

,id,genre,author,book_title,quantity_sold,price_per_copy,sale_date
0,1,Fiction,John Grisham,The Firm,300,9.99,2024-08-01
1,2,Non-Fiction,Malcolm Gladwell,Outliers,150,14.99,2024-08-01
2,3,Science Fiction,Isaac Asimov,Foundation,200,19.99,2024-08-02
3,4,Fiction,Stephen King,The Shining,180,12.99,2024-08-02
4,5,Non-Fiction,Yuval Noah Harari,Sapiens,220,17.99,2024-08-03
5,6,Science Fiction,Arthur C. Clarke,2001: A Space Odyssey,170,22.99,2024-08-03
6,7,Fiction,J.K. Rowling,Harry Potter and the Philosopher's Stone,130,15.99,2024-08-04
7,8,Non-Fiction,Stephen Hawking,A Brief History of Time,140,13.99,2024-08-04
8,9,Fiction,J.K. Rowling,Harry Potter and the Chamber of Secrets,250,10.99,2024-08-05
9,10,Fiction,George R.R. Martin,A Game of Thrones,300,11.99,2024-08-06
10,11,Non-Fiction,Michelle Obama,Becoming,180,15.99,2024-08-06
11,12,Non-Fiction,Malcolm Gladwell,Blink,220,16.99,2024-08-07
12,13,Science Fiction,Philip K. Dick,Do Androids Dream of Electric Sheep?,280,20.99,2024-08-07
13,14,Science Fiction,Frank Herbert,Dune,320,21.99,2024-08-08
14,15,Fiction,Dan Brown,The Da Vinci Code,270,12.99,2024-08-08
15,16,Fiction,Agatha Christie,Murder on the Orient Express,190,13.99,2024-08-09
16,17,Non-Fiction,Yuval Noah Harari,Homo Deus,250,18.99,2024-08-09
17,18,Non-Fiction,Brené Brown,Dare to Lead,200,19.99,2024-08-10
18,19,Science Fiction,Ursula K. Le Guin,The Left Hand of Darkness,150,22.99,2024-08-10
19,20,Science Fiction,William Gibson,Neuromancer,230,23.99,2024-08-11
20,21,Fiction,Margaret Atwood,The Handmaid's Tale,140,14.99,2024-08-11
21,22,Fiction,Ernest Hemingway,The Old Man and the Sea,220,15.99,2024-08-12
22,23,Non-Fiction,James Clear,Atomic Habits,190,17.99,2024-08-12
23,24,Non-Fiction,David Goggins,Can’t Hurt Me,210,18.99,2024-08-13
24,25,Science Fiction,Neal Stephenson,Snow Crash,200,25.99,2024-08-13
25,26,Science Fiction,William Gibson,Count Zero,250,26.99,2024-08-14

## **Data Manipulation**

In [9]:
# Display the first three rows of the DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, 2.2, 3.3, 4.4, 5.5]
})

print(df.head(3))

   A  B    C
0  1  a  1.1
1  2  b  2.2
2  3  c  3.3

In [ ]:
# Check for missing value

In [ ]:
# Calculate total sales by multiplying quantity sold by price per copy

In [ ]:
# Total revenue by genre

In [ ]:
# Average revenue per genre

In [ ]:
# Standard deviation of revenue per genre

In [ ]:
# Overall mean and standard deviation of total sales

In [ ]:
# Group by author and sum total sales

In [ ]:
# Mean quantity sold per genre

In [ ]:
# Standard deviation of quantity sold per genre

In [ ]:
# Display unique authors

In [ ]:
# Top 5 authors by total sales
# Note: use .nlargest(5) method after sum() to get the top 5

In [ ]:
# Describe or get the distribution of total sales across all genres

In [ ]:
df

In [ ]:
# Import the matplotlib.pyplot module



# Print the total revenue by genre



# Generating a pie chart



# Set the title of the plot


# Display the plot

## Insights and conclusion
- Insight1
- Insight1
- Insight1
- Insight1